# Файлы кэша эскизов Windows
Thumbs.db
Thumbs.db: зашифровано
ehthumbs.db
ehthumbs_vista.db

# Файл дампа
* .стекдамп

# Конфигурационный файл папки
[ дд ] esktop.ini

# Корзина, используемая в файловых ресурсах
$РЕЦИКЛ.БИН /

# файлы установщика Windows
* .cab
* .msi
* .msix
* .msm
* .MSP

# Ярлыки Windows
* .lnk
